<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Add Video</h1>
    <div class="buttons">
      <button class="button button-positive" ng-click="closeAddVideo()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>  
    <form ng-submit="saveVideo()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Add Video URL:</span>
          <input ng-change="validateVideoUrl()" type="text" ng-model="userData.videoUrl" id="videoInput">
          <br>
        </label>
        <label class="item">
          <span class="red" id="validText">{{validate.text}}</span>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Save URL</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
