<ion-view hide-back-button="true" view-title="Browse">
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <br>
    <ion-list>
      <ion-item ng-repeat="account in accounts" ng-click="">
        <div class="list card">
          <div class="item">
            <h3><b>Username:</b> {{account.username}}</h3>
            <h2><b>Name:</b> {{account.name}}</h2>
            <p><b>Location:</b> {{account.location}}</p>
          </div>
          <div class="item item-body">
            <p><b>Description:</b> {{account.description}}
            </p>
            <ion-scroll direction="x">
              <table> <tr>
                <td ng-repeat="pic in account.image"> 
                  <img class="pics" src="{{pic}}" ng-click="showImage(pic)"/>
                </td>
              </tr></table>
            </ion-scroll>
            <table  class="vids"> <tr ng-repeat="vid in account.video">
              <td><iframe src="{{vid | trusted}}" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </td>
            </tr></table>
          </div>
          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" ng-click="checkAvailability(account.id)">
              <i class="icon ion-calendar"></i>
              Check Availability
            </a>
            <a class="tab-item" ng-click="book(account.id)">
              <i class="icon ion-checkmark"></i>
              Book
            </a>
            <a class="tab-item" ng-click="rate(account.id)">
              <i class="icon ion-thumbsup" ></i>
              Rate
            </a>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>