<ion-view view-title="Browse">
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <br>
    <ion-list>
      <ion-item ng-repeat="account in accounts" ng-click="">
        <div class="list card">
          <div class="item">
            <h3><b>Username:</b> {{account.username}}</h3>
            <h2><b>Name:</b> {{account.name}}</h2>
            <p><b>Location:</b> {{account.location}}</p>
          </div>
          <div class="item item-body">
            <p><b>Description:</b> {{account.description}}
            </p>

            <table> <tr>
              <td ng-repeat="pic in account.image"> 
                <img src="{{pic}}" style="width:200px; height:200px;"/>
              </td>
            </tr></table>
            <table> <tr ng-repeat="vid in account.video">
              <td><iframe src="{{vid | trusted}}" width="640" height="272" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </td>
            </tr></table>
            <button ng-click="checkAvailability(account.id)">Check Availability</button>
          </div>
          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item">
              <i class="icon ion-thumbsup"></i>
              Like
            </a>
            <a class="tab-item">
              <i class="icon ion-chatbox"></i>
              Review
            </a>
            <a class="tab-item">
              <i class="icon ion-share"></i>
              Share
            </a>
            <a class="tab-item">
              <i class="icon ion-checkmark"></i>
              Book
            </a>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>