<ion-view view-title="Profile">
  <ion-content>
    
        <div class="list card" ng-controller="ProfileCtrl">
          <div class="item">
            <h3><b>Username:</b> {{user.username}}<br></h3>
            <h2><b>Name:</b> {{user.name}} </h2>
            <p><b>Location:</b>{{user.location}} 
            </p>
          </div>
          <div class="item item-body">
            <p><b>Description: </b> <br>{{user.description}} 
            </p>
            <table> <tr>
              <td ng-repeat="pic in user.image"> 
                <img src="{{pic}}" style="width:200px; height:200px;"/>
              </td>
            </tr></table>
          </div>
          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item">
              <i class="icon ion-thumbsup"></i>
              Like
            </a>
            <a class="tab-item">
              <i class="icon ion-chatbox"></i>
              Review
            </a>
            <a class="tab-item">
              <i class="icon ion-share"></i>
              Share
            </a>
            <a class="tab-item">
              <i class="icon ion-checkmark"></i>
              Book
            </a>
          </div>
        </div>
        <button ng-click="checkAuth()">Check Auth</button>
        <button ng-click="logout()">Logout</button>
        <button ng-click="updateUser()">Update Page</button>
        <button ng-click="editprofile()">Edit profile</button>
  </ion-content>
</ion-view>